* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    /* background: url("../images/nguyen-tac-trong-thiet-ke-do-hoa.jpg") repeat-x; */
    background-image: url("../images/truong_day_thiet_ke_do_hoa.jpg") ;
    background-size: 500px;
    background-position: bottom -90% left 24%;
    background-repeat: no-repeat;
} 

#header {
    height: 12rem;
    background: url("../images/nguyen-tac-trong-thiet-ke-do-hoa.jpg");
}

h1 {
    text-align: center;
    font-size: 2.5rem;
    color: rgb(54, 240, 54);
    padding: 2rem;
}

table {
    border: 4px rgb(54, 240, 54) solid;
    margin: auto;
    min-width: 40rem;
    text-align: center;
}

caption {
    margin: 12px;
    font-weight: bold;
    font-size: 1.5rem;
}

th {
    border: 1px  rgb(54, 240, 54)#fff solid;
    background-color: rgb(54, 240, 54);
    font-size: 1.2rem;
    color: #fff;
    padding: 4px 8px;
}

td {
    border: 1px rgb(54, 240, 54) solid;
    padding: 4px 8px;
    font-size: 1.2rem;
}

.row-2, .row-4, .row-6 {
    background-color: rgb(140, 240, 240);
}

.row-8 {
    background-color: rgb(225, 116, 14);
}

.col-left {
    text-align: left;
}